.App {
  text-align: center;
}
body, footer {
  background-color: #141414 !important;
}
nav {
  font-size: 20px;
}

.navbar-brand img {
  height: 70px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #e5e5e5;
  padding-right: 1.8rem;
}

.navbar-dark .navbar-nav .nav-link:not(:first-child):hover {
  color: #b3b3b3;
}

.navbar-dark button {
  background-color: transparent;
  border: none;
  margin-left: auto;
}

.navbar-dark button:hover {
  background-color: transparent;
}

.navbar-dark button:focus {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.navbar-dark button:active {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.navbar input {
  background-color: transparent;
  border-radius: 0;
  font-size: inherit;
}

.navbar input:focus {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  border-color: white;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
